            *,
            *::after,
            *::before {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }
            
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-weight: 500;
                line-height: 1.2;
                font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
                color: #000;
            }
            
            a,
            i {
                border: none;
                font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
                color: #222222;
                text-decoration: none;
            }
            
            a:hover {
                color: #ff4522;
                transition: all .3s ease;
            }
            
            body {
                font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
                margin: 0;
                min-width: 960px;
                font-size: 16px;
                line-height: 32px;
                color: #222222;
                background-color: #f2f4f6;
                background-image: url("img/hero-bg.jpg");
                background-repeat: no-repeat;
                background-position: top center;
            }
            
            .container {
                max-width: 1250px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                height: auto;
                padding: 0px 40px;
                position: relative;
                clear: both;
                margin: 0 auto;
                padding: 0 16px;
            }
            
            .page-header {
                position: fixed;
                top: 0px;
                left: 0px;
                right: 0px;
                z-index: 10;
                background-color: #f2f4f6;
                /* transform: translateY(-100%); */
                /* margin: 0 0 160px;
    padding: 32px 0 32px; */
            }
            /* вариант шапки навигация */
            
            .topbar-wrapper {
                width: 100%;
                height: auto;
                clear: both;
                float: left;
            }
            
            .topbar-inner {
                width: 100%;
                height: auto;
                clear: both;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 30px 37px 30px 50px;
                transition: all .3s ease;
            }
            
            .menu {
                display: flex;
                align-items: center;
            }
            
            .list {
                padding-right: 40px;
            }
            
            .mynav {
                margin: 0px;
                list-style-type: none;
            }
            
            .mynav-item {
                opacity: 1;
                visibility: visible;
                left: 0px;
                margin: 0px 20px 0px 0px;
                display: inline-block;
                list-style-type: none;
            }
            
            .home-content {
                padding-top: 300px;
                display: flex;
                align-items: center;
            }
            
            h1 {
                margin-bottom: 10px;
            }
            /* .page-header__contact {} */
            
            .page-header .container,
            .page-footer .container {
                max-width: 1408px;
                display: flex;
                justify-content: flex-end;
            }
            
            .header-email {
                padding-left: 30px;
                position: relative;
            }
            
            .header-phone {
                padding-left: 30px;
                position: relative;
            }
            /* .header-phone .list-icon2,
.header-email .list-icon3 {
    position: absolute;
    top: 17 px;
    left: -7px;
} */
            
            .avatar {
                position: relative;
                overflow: hidden;
                width: 300px;
                height: 300px;
            }
            
            .user {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 300px;
                height: 300px;
                object-fit: cover;
                border: solid .5em #000000;
                /* border: solid .5em #f45220; */
                padding: .5em;
                /* filter: drop-shadow(1px 2px 2px #ff4522); */
            }
            
            .hero-image {
                margin-bottom: 620px;
            }
            
            .hero-image .container {
                max-width: 1408px;
                text-align: center;
            }
            
            .hero-image h1 {
                margin: 0 0 16px;
                /* font-family: "Old Standard TT", "Times", "Times New Roman", serif; */
                font-size: 88px;
                line-height: 96px;
                font-weight: 400;
            }
            
            .hero-image p {
                margin: 0;
                font-size: 32px;
                line-height: 48px;
            }
            
            .intro {
                margin: 0 0 120px;
            }
            
            .subheading {
                margin: 0 0 56px;
                font-family: "Old Standard TT", "Times", "Times New Roman", serif;
                font-size: 64px;
                line-height: 80px;
                font-weight: 400;
                text-align: center;
            }
            
            .user-image {
                margin: 0 0 32px;
                text-align: center;
            }
            
            .intro h3,
            .portfolio h3 {
                margin: 0 0 12px;
                font-size: 28px;
                line-height: 40px;
                font-weight: 500;
            }
            
            .intro p {
                margin: 0 0 32px;
            }
            
            .skills-list {
                margin: 0;
                padding: 0;
            }
            
            .skills-list dt {
                padding-left: 32px;
                background-repeat: no-repeat;
                background-position: left;
            }
            
            .skill-html {
                background-image: url("img/icon-html.svg");
            }
            
            .skill-css {
                background-image: url("img/icon-css.svg");
            }
            
            .level {
                margin: 4px 0 16px;
                padding: 0;
                height: 14px;
                font-size: 0;
                background-color: #ffffff;
                border: 1px solid #86c3fa;
                border-radius: 8px;
            }
            
            .level div {
                margin: 1px;
                height: 12px;
                background-color: #288be6;
                border-radius: 6px;
            }
            
            .portfolio {
                margin: 0 0 120px;
            }
            
            .projects {
                margin: 0;
                padding: 0;
                list-style: none;
            }
            
            .projects li {
                margin: 0 0 80px;
            }
            
            .project-image {
                margin: 0 0 24px;
                text-align: center;
            }
            
            .projects p {
                margin: 0 0 24px;
            }
            /* .button {
    padding: 6px 20px;
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #288be6;
    color: #ffffff;
} */
            
            .contacts {
                width: 100%;
                height: auto;
                clear: both;
                float: left;
                background-color: rgb(241, 241, 241);
                padding: 140px 0px 119px 0px;
            }
            
            .contacts__title {
                width: 100%;
                height: auto;
                clear: both;
                float: left;
            }
            
            .contacts__title span {
                color: #ff4522;
                font-weight: 500;
                display: inline-block;
                margin-bottom: 10px;
                font-size: 16px;
                line-height: 32px;
            }
            
            .contacts__title h3 {
                font-weight: 800;
                text-transform: uppercase;
                font-size: 30px;
                line-height: 1.2;
            }
            
            .contacts__inner {
                width: 100%;
                height: auto;
                clear: both;
                float: left;
                display: flex;
                margin-top: 40px;
            }
            
            .contacts__left {
                width: 50%;
                padding-right: 100px;
            }
            
            .contacts__text {
                width: 100%;
                float: left;
                margin-bottom: 42px;
            }
            
            .contacts__short {
                width: 100%;
                float: left;
            }
            
            .contacts__short ul {
                margin: 0px;
                list-style-type: none;
            }
            
            .contacts__short ul li {
                margin: 0px 0px 23px 0px;
                width: 100%;
                float: left;
            }
            
            .list_inner {
                width: 100%;
                height: auto;
                clear: both;
                float: left;
                position: relative;
                padding-left: 30px;
            }
            
            .list-icon1,
            .list-icon2,
            .list-icon3 {
                fill: #ff4522;
                width: 18px;
                height: 18px;
                position: absolute;
                left: 0px;
                width: 18px;
                height: 18px;
                top: 50%;
                margin-top: -1px;
                transform: translateY(-50%);
            }
            
            .list_inner span {
                font-size: 20px;
                font-weight: 500;
                color: #000;
            }
            /*	FORM ELEMENTS */
            
            .contacts__right {
                width: 50%;
                padding-left: 100px;
            }
            
            .contacts__fields {
                width: 100%;
                height: auto;
                clear: both;
                float: left;
            }
            
            .contacts__fields .first {
                width: 100%;
                float: left;
            }
            
            .first ul {
                margin: 0px;
                list-style-type: none;
            }
            
            .first ul li {
                width: 100%;
                margin: 0px 0px 30px 0px;
                float: left;
            }
            
            .first ul li input,
            .last p textarea {
                font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
                width: 100%;
                border: 1px solid rgba(0, 0, 0, .1);
                background-color: transparent;
                height: 44px;
                border-radius: 0;
                font-size: 13px;
                min-width: auto;
                letter-spacing: 1.4px;
                line-height: 1.6;
                padding: 10px;
                /* vertical-align: middle; */
            }
            
            .first ul li input:focus {
                outline: none;
                border: 1px solid rgba(0, 0, 0, .3);
            }
            
            .contacts__fields .last textarea {
                width: 100%;
                border: 1px solid rgba(0, 0, 0, .1);
                height: 44px;
                resize: none;
                margin-bottom: 20px;
                background-color: transparent;
            }
            
            .contacts__fields .last textarea:focus {
                outline: none;
                border: 1px solid rgba(0, 0, 0, .3);
            }
            
            .contacts__button {
                width: 100%;
                height: auto;
                /* clear: both; */
                float: left;
                position: relative;
                border: none;
            }
            
            .contacts__button a {
                font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
                text-decoration: none;
                color: #fff;
                font-size: 17px;
                display: block;
                text-align: center;
                padding: 10px;
                position: relative;
                background: #ff4522;
                transition: all .3s ease;
            }
            
            .contacts__button a:hover {
                color: #fff;
                background-color: #000;
            }
            
            .contacts__button a:hover .contacts__row {
                transform: rotate(-50deg);
                transition: all .3s ease;
            }
            
            .contacts__row {
                position: absolute;
                top: 10px;
                right: 190px;
                width: 17px;
                height: 17px;
                fill: white;
            }
            
            .page-footer {
                padding: 40px 0;
                background-color: #00417d;
                color: #ffffff;
            }
            
            .page-footer a {
                margin-left: 56px;
                color: inherit;
                text-decoration: none;
                background-repeat: no-repeat;
                background-position: left;
            }
            
            .footer-email {
                padding-left: 30px;
                background-image: url("img/icon-email-footer.svg");
            }
            
            .footer-phone {
                padding-left: 25px;
                background-image: url("img/icon-phone-footer.svg");
            }